# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.npm

# Build output
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Temp
*.tsbuildinfo
